*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
    font-family: logo;
}


.main-color{


    color: #1C1C1C;
}

.main-bg-color{

    background-color: #1C1C1C;
}

/**********************navbar**********************/

nav ul {

    font-size: 17px;



}

#home nav .home{
text-decoration: underline;



}

@font-face {
    font-family: logo;
    src: url(../fonts/static/Montserrat-Regular.ttf);
}


@font-face {
    font-family: logoBold;
    src: url(../fonts/static/Montserrat-ExtraBold.ttf);
}

.extra-bold{

font-family: "logoBold";

}
nav .navbar-brand{


font-family: "logoBold";
font-weight: bolder;

}


#home {


background-image: url(../img/bg.jpg);
background-size: cover;
height: 100vh;

}

#home .layer{

background-color: rgba(0, 0, 0, 0.612);


}
#home .layer h2{

    font-family: "logoBold";
}

#home .layer h1,h2 {

font-family: "logo";



}
#home .layer h1{

font-size:60px;

}

#home .layer h1::after{

content: "|";
animation-name: typing;
animation-duration: 7s;
animation-iteration-count: infinite;
animation-timing-function: ease;

}
@keyframes typing{



0% {
        content: "a |";
    }

    2% {
        content: "D|";
    }

    4% {
        content: "De|";
    }

    6% {
        content: "Des|";
    }

    8% {
        content: "Desi|";
    }

    10% {
        content: "Desig|";
    }

    12% {
        content: "Design|";
    }

    14% {
        content: "Designe|";
    }

    16% {
        content: "Designer|";
    }

    20% {
        content: "Designer|";
    }

    22% {
        content: "Designe|";
    }

    24% {
        content: "Design|";
    }

    26% {
        content: "Desig|";
    }

    28% {
        content: "Desi";
    }

    30% {
        content: "Des|";
    }

    32% {
        content: "De";
    }

    34% {
        content: "D|";
    }

    36% {
        content: "|";
    }

    38% {
        content: "D|";
    }

    40% {
        content: "De|";
    }

    42% {
        content: "Dev|";
    }

    44% {
        content: "Deve|";
    }

    46% {
        content: "Devel|";
    }

    48% {
        content: "Develo|";
    }

    50% {
        content: "Develop|";
    }

    52% {
        content: "Develope|";
    }

    54% {
        content: "Developer|";
    }

    58% {
        content: "Develope|";
    }

    60% {
        content: "Develop|";
    }

    62% {
        content: "Develo|";
    }

    64% {
        content: "Devel|";
    }

    66% {
        content: "Deve|";
    }

    68% {
        content: "Dev|";
    }

    70% {
        content: "De|";
    }

    72% {
        content: "D|";
    }                                        
    74% {
        content: "|";
    }

    76% {
        content: "L|";
    }

    77% {
        content: "La|";
    }

    78% {
        content: "Lar";
    }

    79% {
        content: "Larr|";
    }

    80% {
        content: "Larry|";
    }

    81% {
        content: "Larry D|";
    }

    82% {
        content: "Larry Da|";
    }

    83% {
        content: "Larry Dan|";
    }

    84% {
        content: "Larry Dani|";
    }

    85% {
        content: "Larry Danie|";
    }

    86% {
        content: "Larry Daniel|";
    }

    87% {
        content: "Larry Daniels|";
    }

    88% {
        content: "Larry Daniel|";
    }

    89% {
        content: "Larry Danie|";
    }

    90% {
        content: "Larry Dani|";
    }

    91% {
        content: "Larry Dan|";
    }

    92% {
        content: "Larry Da|";
    }

    93% {
        content: "Larry D|";
    }

    94% {
        content: "Larry |";
    }

     95% {
        content: "Larry|";
    }

    96% {
        content: "Larr|";
    }

    97% {
        content: "lar|";
    }

    98% {
        content: "la|";
    }

    99% {
        content: "l|";
    }

    100% {
        content: "|";
    }

}



    
    

    


#home .layer
h2{

font-weight: 900;

}

#home .layer-content{

color: white;



}

#home .social-icons i{

margin: 0 10px;
padding: 10px;
border-radius: 50%;
background-color: rgba(0, 0, 0, 0.511);
cursor: pointer;

}

/******************ABOUT SECTION*********************/

#about{


background-color: #FFFFFF;

}
#about .about-caption h3{

font-family: "logoBold";


}


#about .about-caption span{


color: #1c1c1c93;
font-size: 14px;

}
#about .about-img{

    position: relative;
    padding: 10px;
}

/* #about .about-img::before{

content: " ";
    width: 100%;
    height: 100%;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 2%;
    right: 10%;
    z-index: -1;



} */

#about .about-caption p{

font-weight: bold;


}
#about .about-caption p span{

font-family: "logoBold";

}


#about .about-caption .skill .standard{

    height: 24px;
    background-color:#bdb9b979;
    position: relative;
    border-radius: 4px;
    margin: 40px 0;

}

#about .about-caption .skill .progress {

    height: 24px;
    background-color: #1C1C1C;
    position:absolute ;
    top: 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;

  
  
}

#about .about-caption .skill .prog1{

animation-name: move1;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes move1 {
    
    0%{width: 30%;}
    100%{width: 95%;}
}

#about .about-caption .skill .prog2{

    animation-name: move2;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes move2 {

    0% {
        width: 30%;
    }

    100% {
        width: 80%;
    }
}
#about .about-caption .skill .prog3 {

    animation-name: move3;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes move3 {

    0% {
        width: 30%;
    }

    100% {
        width: 90%;
    }
}

.w-95{

width: 95%;

}


.w-80{

    width: 80%;

}

.w-90 {

    width: 90%;

}
.bold{


    font-weight: 600;
}

#about .about-caption .btn1{

font-size: 15px;
font-weight:lighter;
background-color: #1C1C1C;
color: white;
transition: all 0.3s;

}
#about .about-caption .btn1:hover{

background-color: #fff;
border: #1C1C1C 1px solid;
color: #1C1C1C;

}

#about .about-caption .btn2{

border: #1C1C1C solid 1px;

}

#about .about-caption .btn2:hover{

    background-color: black;
    color: white;
  

}


/*****************Services******************/

.title{

text-align: center;



}

.title h2{
font-size: 45px !important;
position: relative;
display: inline-block;

}



.title h2::after{


content: '';
    width: 100%;
    height: 30px;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    position: absolute;
    transform: translate(-50%);
    top: 60%;
    left: 50%;
    z-index: -1;

}

#services i{
padding: 18px 15px;
border-radius: 50%;
background-color:rgba(0, 0, 0, 0.114);
font-size:30px;
transition: all 0.3s;
}

#services p{

color: rgba(0, 0, 0, 0.537);
font-weight: 400;

}


#services .service{

    box-shadow: 0 3px 4px rgb(0 0 0 / 0.2);
}

#services .service:hover i{

background-color:black;
color: white;


}
/* *****************PORTFOLIO*************** */


#portfolio{


    background-color: #FFFFFF;
    padding-bottom: 50px;
}



#portfolio .work{

position: relative;


}
#portfolio .layout{

    position: absolute;
        top: 2%;
        left: 2%;
        right: 2%;
        bottom: 2%;
        background-color: #fff;
        opacity: 0;
        transition: all 0.4s;
            
        
}

#portfolio .layout .layout-content i{

padding:8.5px 6px;
border-radius: 50%;
background-color: black;
color: white;
cursor: pointer;
transition: all 0.3s;


}

#portfolio .layout .layout-content i:hover{


background-color:white;
    color: black;
    border: 1px solid black;


}

#portfolio .work:hover .layout{

opacity: 1;

}

/* *******************FEEDBACK**************** */


#feedback{

    height: 100vh;

}
#feedback .carousel-data {

     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-weight: lighter;
   color: #1C1C1C;
    
}
#feedback .carousel-data h3{
padding: 10px 0;
    
}
#feedback .carousel-data p{
font-size: 20px;
padding:  10px;


}


#feedback .carousel-indicators button{

    width: 13px !important;
    height: 13px !important;
    border-radius:50% ;
    background-color: gray !important;
  
}

#feedback .carousel-indicators{

position: absolute;
top: 90%;
padding-bottom: 30px;


}

/************************numbers************************/

#numbers .number p{


color: #1c1c1c96;
font-weight: 700;


}

#numbers .number i{

font-size: 30px;
padding: 15px 0;


}


/* ******************Blog***************** */



#blog .product {
    box-shadow: 0px 6px 10px -10px rgba(0, 0, 0, 0.511);
    margin: 20px 0;


}

#blog .product p {

    font-size: 14px;
    color: rgba(0, 0, 0, 0.578);

}

#blog .product p {

    color: rgba(128, 128, 128, 0.808);
    font-size: 14px;
    font-weight: 600;


}


#blog .product span a {
    color: #1C1C1C;
    font-size: 13px;
    font-weight: 600;


}

#blog .product img {

    transition: all 0.5s;


}

#blog .product .product-img {

    overflow: hidden;

}

#blog .product:hover img {

    transform: scale(1.3);



}





#blog .carousel-indicators button {

    width: 13px !important;
    height: 13px !important;
    border-radius: 50%;
    background-color: gray !important;
    margin: 0 7px !important;

}

#blog .carousel-indicators {

    position: absolute;

    bottom: -40px;
}

/* **********************CONTACT******************** */

#contact .container{

width: 80% !important;

}
#contact i{

padding: 16px 18px;
font-size: 25px;
border-radius: 50%;
margin: 10px 0;
background-color: #1c1c1c10;
transition: all 0.3s;


}
#contact .contact-item:hover i{


background-color: #1c1c1c10;
color: #fff;
background-color: black;


}

#contact .contact-item{

padding-top: 30px;
font-weight: 600;

}
#contact .contact-item h5{
font-weight: 900 !important;
font-size: 16px;
}

#contact .contact-item p{

    color: rgba(0, 0, 0, 0.464);
    font-size: 14px;
}

.input-color{

background-color: #F4F4F4;

}
input , textarea{

border:1px solid transparent !important ;

}

#contact form button{

    font-size: 15px;
        font-weight: lighter;
        background-color: #1C1C1C;
        color: white;
        transition: all 0.3s;
}
#contact form button:hover{

    background-color: #fff;
        border: #1C1C1C 1px solid;
        color: #1C1C1C;
}

.gray{

color: rgba(201, 198, 198, 0.471);

}

@font-face {
    font-family: popy;
    src: url(../fonts/Poppins-Regular.ttf);
}

.popy-font{

font-family: "popy";

}

#footer{
    background-color: #1C1C1C;
}